{% for footer-i in (1..2) %}
{% unless page.legacy and footer-i == 1 %}
<div id="footerwrap" class="tuna-foot-{{ footer-i }}" {% if page.legacy %} style="visibility: visible;" {% endif %}>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4{% if page.legacy %} col-xs-4{% endif %}">
        <p class="thuhidden">本站{% if site.operator %}由{{ site.operator }}支持创办，{% endif %}由网络运维部进行维护。</p>
        <p class="thuhidden">齐鲁工业大学网络信息中心网络运维部，负责办公区与教学区的网络设施维护、以及学校教育网的建设保障工作。</p>
        <p>本站相关源码可在 <a href="https://github.com/qlu-mirrors"><em>这里</em></a>获取。</p>
        <p class="thuhidden">本站暂时仅限齐鲁工业大学内网用户使用</p>
        {% if site.footnote %}
        <p class="thuhidden">{{ site.footnote }}</p>
        {% endif %}
      </div>
      <div class="col-lg-4 col-md-4{% if page.legacy %} col-xs-4{% endif %}">
        <h4>Contact Us</h4>
        <div class="thuhidden">
          <ul class="social">

            <li>
            <a href="https://github.com/qlu-mirrors/">{% fa_svg fab.fa-github %} GitHub </a>
              <a href="https://github.com/qlu-mirrors/">{% fa_svg fab.fa-github %} GitHub </a>
            </li>
            <!--do nothing -->
          </ul>
        </div>

        <h4>Powered By</h4>
        <div class="img-responsive thuhidden">

          <img src="/static/img/huawei.png"
            srcset="/static/img/huawei.png 1x, /static/img/huawei@2x.png 2x, /static/img/huawei@3x.png 3x, /static/img/huawei@4x.png 4x"
            alt="resp" />

        </div>

        <p class="thuhidden">本镜像服务器由国家超级计算济南中心<br>山河超级计算平台强力驱动。</p>

      </div>
      <div class="col-lg-4 col-md-4{% if page.legacy %} col-xs-4{% endif %}">
        <img class="img-responsive thuhidden center-block" style="margin-top:5%" src="/static/img/logo-white.png"
          srcset="/static/img/logo-white.png 1x, /static/img/logo-white@2x.png 2x, /static/img/logo-white@3x.png 3x, /static/img/logo-white@4x.png 4x" />
      </div>
    </div>
    <!--/row -->
  </div>
  <!--/container -->
</div>
<!--/footerwrap -->
{% endunless %}
{% endfor %}

<script>
  WebFont.load({
    custom: {
      families: ['Lato']
    }
  });
  var lei3Po8h = ["support", ["tuna", "tsinghua", "edu", "cn"].join(".")].join("@");
  $('a.eib1gieB')
    .text(lei3Po8h)
    .attr('href', ["ma", "lto:"].join("i") + lei3Po8h);
</script>

{% fa_svg_generate %}
